---
import Section from '@/components/ui/Section.tsx'
import Layout from '../layouts/Layout.astro'
import MainLayout from '../layouts/MainLayout.astro'

import Countdown from '@/components/ui/countdown/Countdown.tsx'
import { DialogEmails } from '@/components/ui/DialogEmails.tsx'
import { DialogTopics } from '@/components/ui/DialogTopics.tsx'
---

<MainLayout
  title="KuroJam"
  description="La Kurojam es un evento / hackathon donde podr치s crear un proyecto basado en un tema en com칰n entre el 10 y 25 de agosto. Podr치s utilizar cualquier tecnologia mientras se cumpla con la tematica. "
  keywords="Jam, Hackathon, React, Astro, Desarrollo web, programacion, programaci칩n, prograamacion web, javascript, typescript, Svelte, Qwik, SolidJS, Vue, Angular, proyectos web, aprender desarrollo web, aprender programacion web, concursos programacion, como aprender a programar">
  <Layout>
    <div class="py-12 px-4 flex flex-col gap-8">
      <section
        class="border w-full items-center justify-center flex flex-col p-8 rounded-md gap-8">
        <div class="flex flex-col items-center">
          <h1 class="text-7xl sm:text-9xl font-bold">KuroJam</h1>
          <h2 class="text-2xl">
            El evento tech donde podr치s crear un proyecto basado en un tema en
            com칰n.
          </h2>
        </div>
        <div
          class="border rounded-md px-10 py-5 items-center justify-center flex flex-col gap-4">
          <h1 class="text-4xl">La tem치tica elegida es:</h1>
          <h2 class="text-5xl font-bold">游붅 PATOS 游붅</h2>
        </div>
        <div class="flex flex-col items-center gap-6 text-4xl my-3">
          <p>Tiempo restante para enviar tu proyecto:</p>
          <Countdown client:load />
          <div class="flex gap-2 text-xl mb-2">
            <p>
              쮺칩mo participar? 
            </p>
            <a href="/como-participar" class="text-yellow-500">
              Haz click aqu칤
            </a>
          </div>
        </div>

        <div
          class="flex-1 gap-5 m-auto grid grid-cols-[repeat(auto-fill,minmax(240px,1fr))] w-full items-start justify-center">
          <Section
            client:load
            title="쯈u칠 es? 游뱂"
            description={'KuroJam es un evento de desarrollo, donde los participantes crear치n un proyecto basado en una tem치tica elegida por la comunidad.'}
          />
          <Section
            client:load
            title={'쮺u치ndo es? 游늰'}
            description={'Se llevar치 a cabo del 10 al 25 de agosto del 2023.'}
          />
          <Section
            client:load
            title="쮿abr치 premios? 游끥"
            description="Los 3 mejores proyectos de la KuroJam ser치n premiados"
          />

          <Section
            client:load
            title={'쯊engo que hacer una web? 游뱂'}
            description={'Puedes entregarnos tu proyecto en cualquier formato, ya sea una web, una app, un juego, etc. Mientras entre dentro de la tem치tica, 춰todo vale!'}
          />
        </div>
        <div class="w-full flex-1 flex justify-center border-b py-2">
          <h3 class="text-5xl">FAQ</h3>
        </div>
        <div
          class="flex-1 gap-5 my-auto grid grid-cols-[repeat(auto-fill,minmax(240px,1fr))] w-full items-start justify-center">
          <Section
            client:load
            title={'쯊engo que hacer equipos 游논?'}
            description={'Puedes participar solo o en equipo, como prefieras. Hasta 5 personas por equipo. (Puede haber excepciones)'}
          />
          <Section
            client:load
            title={'쮺u치nto cuesta 游땸?'}
            description={'Es un evento gratuito, por lo que no tendr치s que pagar nada para participar.'}
          />
          <Section
            client:load
            title={'쮻칩nde es? 游깵'}
            description={' KuroJam se llevar치 a cabo de manera virtual, por lo que podr치s participar desde cualquier parte del mundo.'}
          />

          <Section
            client:load
            title="쮺칩mo me registro? 游닀"
            description=" Para registrarte en KuroJam, deber치s llenar el formulario de registro el d칤a del evento."
          />
          <Section
            client:load
            title="쯈u칠 necesito para participar? 游닇"
            description="Para participar en KuroJam, necesitar치s:"
            options={['Un PC', 'Una cuenta de GitHub', 'Una cuenta de Discord']}
          />
          <Section
            client:load
            title="쯈ui칠nes son los patrocinadores? 游뱋"
            description="KuroJam actualmente no cuenta con patrocinadores. Si quieres patrocinar el evento, puedes contactarnos en: @ikurotime en Twitter."
          />
          <Section
            client:load
            title="쮻칩nde puedo encontrar m치s informaci칩n? 游닄"
            description="Para m치s informaci칩n, puedes visitar nuestro Discord."
          />
          <Section
            client:load
            title="쮺칩mo puedo ayudar? 游뱅"
            description="Puedes ayudarnos compartiendo el evento en redes sociales. 춰Muchas gracias!"
          />
        </div>
      </section>
    </div>
  </Layout>
</MainLayout>
