---
import Section from '@/components/ui/Section.tsx'
import Layout from '../layouts/Layout.astro'
import MainLayout from '../layouts/MainLayout.astro'

import Countdown from '@/components/ui/countdown/Countdown.tsx'
import { DialogEmails } from '@/components/ui/DialogEmails.tsx'
import { DialogTopics } from '@/components/ui/DialogTopics.tsx'
---

<MainLayout
  title="KuroJam - Proyectos"
  description="La Kurojam es un evento / hackathon donde podrás crear un proyecto basado en un tema en común entre el 10 y 25 de agosto. Podrás utilizar cualquier tecnologia mientras se cumpla con la tematica. "
  keywords="Jam, Hackathon, React, Astro, Desarrollo web, programacion, programación, prograamacion web, javascript, typescript, Svelte, Qwik, SolidJS, Vue, Angular, proyectos web, aprender desarrollo web, aprender programacion web, concursos programacion, como aprender a programar">
  <Layout>
    <div class="flex flex-col p-5 gap-5 w-full">
      <section class="py-5 w-full gap-3 flex flex-col">
        <h1 class="text-5xl">Proyectos</h1>
        <p class="text-xl">
          Aquí podrás ver los proyectos que se han creado en la KuroJam.
        </p>
      </section>
      <Section
        title="Ganador de la KuroJam"
        description="Este espacio esta reservado para inmortalizar al primer ganador del evento. ¡Mucha suerte!"
      />
      <Section
        title="Segundo ganador de la KuroJam"
        description="Este espacio esta reservado para el segundo proyecto. ¡Mucha suerte!"
      />
      <Section
        title="Tercer ganador de la KuroJam"
        description="Este ultimo espacio esta reservado para el tercer puesto del evento ¡Mucha suerte!"
      />
      <section class="py-5 w-full gap-3 flex flex-col flex-1">
        <h2 class="text-5xl">Resto de participantes</h2>
        <p class="text-xl">
          Este espacio reune todos los demás proyectos que se han creado en la
          KuroJam. ¡Muchas gracias a todos por participar!
        </p>
        <div
          class="flex border rounded-md p-10 w-full justify-center items-center h-64">
          <h3 class="text-4xl">Aún por anunciar...</h3>
        </div>
      </section>
    </div>
  </Layout>
</MainLayout>
