<div class="border-b p-5 text-center">
  <div
    class="flex-1 max-w-7xl flex flex-row justify-between w-full mx-auto px-0 xl:px-4">
    <a href="/" class="text-xl">KuroJam</a>
    <div class="flex gap-5">
      <a href="/proyectos">Proyectos</a>
      <a
        href="https://twitter.com/ikurotime"
        target="_blank"
        rel="noopener"
        class="hover:text-blue-400 transition-colors duration-200 ease-in-out"
        >Twitter</a
      >
      <a
        href="https://discord.gg/3sWGgBzXQd"
        target="_blank"
        rel="noopener"
        class="hover:text-purple-400 transition-colors duration-200 ease-in-out"
        >Discord</a
      >
    </div>
  </div>
</div>
<div
  class="flex-1 max-w-7xl flex flex-col min-h-screen mx-auto items-center gap-5 justify-start">
  <slot />
</div>
<div class="border-t p-5 text-center">
  <div
    class="flex-1 max-w-7xl px-4 flex flex-col items-center sm:flex-row justify-between w-full mx-auto">
    <div>
      <span class="text-xl"
        >Hecho con 🧡 por <a
          href="https://twitter.com/ikurotime"
          rel="noopener"
          target="_blank"
          class="text-xl hover:text-orange-400 transition-colors duration-200 ease-in-out"
          >David Huertas</a
        > para la comunidad.</span
      >
    </div>
    <div class="flex gap-5">
      <a
        href="https://twitter.com/ikurotime"
        target="_blank"
        rel="noopener"
        class="hover:text-blue-400 transition-colors duration-200 ease-in-out"
        >Twitter</a
      >
      <a
        href="https://discord.gg/3sWGgBzXQd"
        target="_blank"
        rel="noopener"
        class="hover:text-purple-400 transition-colors duration-200 ease-in-out"
        >Discord</a
      >
    </div>
  </div>
</div>
