---
import ThemeProvider from '@/components/ThemeProvider.astro'
import '@/globals.css'
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ThemeProvider />
  </head>
  <body class="bg-[#121212] h-full w-full">
    <slot />
    <style>
      * {
        font-family: 'LeagueSpartan', sans-serif;
      }
    </style>
  </body>
</html>
