---
interface Props {
  title: string
  description: string
  options?: string[]
}
const { title, description, options } = Astro.props
---

<section class="flex flex-col gap-3 w-full h-full border rounded-md">
  <div class="border-b w-full p-5 pb-1">
    <h2 class="text-4xl">{title}</h2>
  </div>
  <div class="p-5 pt-0">
    <p class="text-2xl">
      {description}
    </p>
    {
      options && (
        <ul class="mt-5">
          {options.map((option) => (
            <li class="text-xl">{option}</li>
          ))}
        </ul>
      )
    }
  </div>
</section>
